<div *ngIf="foundUser==null; else elseBlock"></div>
<ng-template #elseBlock>
    <a [routerLink]="['/profile', foundUser.id]">
        <div class="d-flex my-2">
            <div class="float-left  pl-1">
                <img class="rounded-circle" [src]="foundUser?.profileImagePath? imageToShow : '../../../../assets/images/default.jpg'" width="70%" />
            </div>

            <div class="ml-1 align-self-center mr-auto text-white">
                {{foundUser.firstName}} {{foundUser.lastName}}
            </div>
        </div>
    </a>
</ng-template>