<div *ngIf="userToDisplay==null; else elseBlock"></div>
<ng-template #elseBlock>
    <div class="d-flex pointable" [routerLink]="['/profile/', userToDisplay.id]">
        <div class="float-left ">
            <img class="rounded-circle" *ngIf="userToDisplay?.profileImagePath else defultImage;" [src]="imageToShow" width="90%" />
            <ng-template #defultImage> <img class="rounded-circle" src="../../../../assets/images/default.jpg" width="80%" /></ng-template>

        </div>

        <div class="ml-1 align-self-center float-left">
            {{userToDisplay.firstName}} {{userToDisplay.lastName}}
        </div>
    </div>
</ng-template>