<loading-data *ngIf="userToDisplay==null; else elseBlock"></loading-data>

<ng-template #elseBlock>
    <div class=" col-sm-12 border rounded py-3 d-flex mb-1">
        <user-card class="mr-auto align-self-center text-white" [userToDisplay]="userToDisplay"></user-card>
        <div class="float-right">
            <button (click)="deleteFriend()" class="btn bg-white align-self-center">
                <i class="fas fa-user-times"></i>
            </button>
        </div>
    </div>
</ng-template>