<div *ngIf="userToDisplay==null; else elseBlock">Loading...</div>
<ng-template class="" #elseBlock>

    <div class=" col-sm-12 border pb-2 bg-white form-group clearfix">
        <a  class=" text-dark">
            <user-card [userToDisplay]="userToDisplay"></user-card>
        </a>
        <div class="float-right  mt-3">
            <a class="btn btn-primary btn-sm mr-1">
                <i class="fab fa-facebook-messenger"></i>
            </a>

            <button class="btn btn-danger btn-sm">
                <i class="fas fa-user-times"></i>
            </button>
        </div>

    </div>
</ng-template>