<loading-data *ngIf="userToDisplay==null; else elseBlock"></loading-data>

<ng-template class="" #elseBlock>
    <div class=" col-sm-12 border pb-2 d-flex">
        <user-card class="mr-auto align-self-center" [userToDisplay]="userToDisplay"></user-card>
        <div class="float-right mt-3">
            <a class="btn btn-primary align-self-center">
                <i class="fab fa-facebook-messenger"></i>
            </a>
            <button class="btn btn-danger align-self-center">
                <i class="fas fa-user-times"></i>
            </button>
        </div>
    </div>
</ng-template>