.dropdown-menu {
    background-color: #555;
    width: 300px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.dropdown-menu:focus,
.dropdown-menu:hover {
    background-color: #555;
    width: 300px;
    padding-right: 3px;
}