<div *ngIf="fromWhoUser">
    <div class="d-flex my-1 dark-background pointable" [ngStyle]="{'color': notification.hasSeen? 'white' : '#F35656'}" [routerLink]="canNavigateToPost? ['/', fromWhoUser.id, 'post', notification.eventId] :['/profile', fromWhoUser.id]">
        <img class="rounded-circle align-self-center ml-1" [src]="fromWhoUser?.profileImagePath? imageToShow : '../../../../assets/images/default.jpg'" height="40px" />

        <div class="w-100 ml-2">
            {{fromWhoUser.firstName}} {{fromWhoUser.lastName}}
            <span class="small float-right pr-1">{{notification.whenAdded | date: 'HH:mm:ss dd/MM'}}</span>
            <div style="word-wrap: break-word;"> {{message}}</div>
        </div>
    </div>
</div>