<div *ngIf="fromWhoUser==null; else elseBlock"></div>
<ng-template #elseBlock>
    <div class="d-flex my-1 dark-background pointable" [ngStyle]="{'color': notification.hasSeen? 'white' : '#FFCCFF'}" [routerLink]="canNavigateToPost? ['/', fromWhoUser.id, 'post', notification.eventId] :[]">

        <img class="rounded-circle py-2 ml-2" src="../../../../assets/images/default.jpg" width="10%" />
        <div class="w-100 ml-2">
            <div class="">
                {{fromWhoUser.firstName}} {{fromWhoUser.lastName}}
                <span class="small float-right">{{notification.whenAdded | date: 'HH:mm:ss dd/MM/yyyy'}}</span>
            </div>
            <div style="word-wrap: break-word;"> {{message}}</div>

        </div>

    </div>
</ng-template>