<loading-data *ngIf="postToDisplay==null || currentLoggedUserId==null; else elseBlock"></loading-data>
<ng-template class="" #elseBlock>

    <div class="flex mb-5 rounded p-2 mt-2 post col-12">
        <div class="d-flex w-100 pr-1">
            <user-card [userToDisplay]="userToDisplay"></user-card>
            <div *ngIf="currentLoggedUserId == postToDisplay.userId" class="ml-auto dropdown">
                <button type="button" class="btn text-white" data-toggle="dropdown">
                        <span style="font-size: x-large;">...</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                    <button type="button" class="dropdown-item" (click)="editPost()">Edytuj</button>
                    <button type="button" class="dropdown-item" (click)="deletePost()">Usuń</button>
                </div>
            </div>

        </div>

        <loading-data *ngIf="isLoading"></loading-data>

        <div class="col-12 h-auto text-justify py-2">
            {{postToDisplay?.text}}
        </div>
        <div *ngIf="!isImageLoading && imageToShow" (click)="showImage()">
            <img [src]="imageToShow" class="col-12 mt-3 justify-content-center pointable">
        </div>

        <div class="col-12 btn-toolbar d-flex justify-content-end pt-2">
            <div class="btn-group form-group row pr-2 ">
                <button type="button" class="btn" (click)="changeReacton()">
                    <span class="badge badge-light icon">

                        <i *ngIf="!isAlreadyLike" class="far fa-sun fa-lg ">
                            <span class="pl-1 small icontext">
                                {{reactionCounter}}
                            </span>
                        </i>

                        <i *ngIf="isAlreadyLike" class="fas fa-sun fa-lg icontext">
                            <span class="pl-1 small">
                                {{reactionCounter}}
                            </span>
                        </i>

                    </span>
                </button>

                <button type="button" class="btn" (click)="displayComments()">
                    <span class="badge badge-light icon">
                        <i class="far fa-comments fa-lg icontext">
                            <span class="pl-1 small">
                                {{commentsCounter}}
                            </span>
                        </i>
                    </span>
                </button>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <span class="small">{{postToDisplay.whenAdded | date: 'HH:mm:ss dd/MM/yyyy'}}</span>
        </div>
        <user-post-comments [postId]="postToDisplay.id" [currentLoggedUserId]="currentLoggedUserId" [displayedUserId]="postToDisplay.userId" *ngIf="showComments" (hideCommentsEmitter)="hideComments($event)" (changeCommentsCounterEmitter)="changeCommentsCounter($event)"></user-post-comments>
    </div>
</ng-template>