.post {
    background-color: rgb(58, 58, 59);
}

div {
    color: rgb(255, 255, 255);
    font-size: medium;
}

.date {
    font-size: small;
}

.icon {
    background-color: rgb(58, 58, 59);
}

.icontext {
    color: white;
}

.dropdown-item {
    background-color: rgb(97, 97, 99);
    color: white;
}

.dropdown-item:hover {
    background-color: rgb(87, 87, 87);
}

.dropdown-menu {
    background-color: rgb(97, 97, 99);
    border: white;
    border-style: groove;
}

.text-field {
    overflow: auto !important;
    word-wrap: break-word !important;
    text-align: left !important;
}
