<div class="mt-2" *ngIf="currentDisplayedUser!= null">
    <user-data [displayedUser]="currentDisplayedUser" [currentLoggedUserId]="loggedUserId"></user-data>
    <div class="d-flex justify-content-center">
        <button (click)='switchDisplay()' class="btn text-center h5 py-2 text-white" [ngClass]="showPosts? 'active' : 'notactive'">Posty:</button>
        <button (click)='switchDisplay()' class="btn text-center h5 py-2 text-white" [ngClass]="showPosts? 'notactive' : 'active'">Znajomi:</button>
    </div>
    <div *ngIf='showPosts; else elseBlock'>
        <user-posts #postComponent *ngFor="let post of listOfPostFromApi" [postToDisplay]="post" [currentLoggedUserId]="loggedUserId"></user-posts>
    </div>
    <ng-template #elseBlock>
        <user-friends [userId]='currentDisplayedUser.id'></user-friends>
    </ng-template>
</div>