<div class="mt-2">
    <div *ngIf="currentDisplayedUser==null; else elseBlock"></div>
    <ng-template #elseBlock>
        <div class="d-flex" style="cursor: pointer;">
            <div class="float-left ">
                <img class="rounded-circle" *ngIf="currentDisplayedUser?.profileImagePath; else defultPicture"
                    [src]="currentDisplayedUser.profileImagePath" width="90%" />
                <ng-template #defultPicture>
                    <img class="rounded-circle" src="../../../../assets/images/default.jpg" width="80%" />
                </ng-template>
            </div>

            <div class="ml-1 align-self-center float-left">
                {{currentDisplayedUser.firstName}} {{currentDisplayedUser.lastName}}
            </div>
        </div>
    </ng-template>
   
    <app-post #postComponent *ngFor="let post of listOfPostFromApi" [postToDisplay]="post"
        [currentLoggedUserId]="currentLoggedUserId"></app-post>
</div>