<div class="py-2 mt-1 text-white border-white border rounded">
    <div class="d-flex pl-1">
        <user-card [userToDisplay]="displayedUser"></user-card>
        <div *ngIf="displayedUser.id != currentLoggedUserId" class=" ml-auto border rounded mr-1 ">
            <button (click)="sendFriendRequiest()" *ngIf="canAddFriend" class="btn text-white"><i class="fas fa-users"></i> Dodaj do znajomych</button>
            <button (click)="deleteFriend()" *ngIf="canDeleteFriend" class="btn text-white"><i class="fas fa-user-times"></i> Usuń ze znajomych</button>
            <button (click)="acceptFriendRequiest()" *ngIf="canAcceptFriend" class="btn text-white"><i class="fas fa-user-friends"></i> Zaakceptuj zaproszenie</button>
            <button (click)="undoFriendRequiest()" *ngIf="canCancelFriendRequiest" class="btn text-white"><i class="far fa-window-close"></i> Cofnij zaproszenie</button>
        </div>
    </div>
    <div class="pt-1 pl-2 offset-3">
        <div>Miasto:</div>
        <div>Wiek:</div>
        <div>Data urodzenia:</div>
        <div>Płeć:</div>
    </div>

</div>
<div class="text-center h5 py-2 text-white">Posty:</div>