html,
body {
    scrollbar-color: rgb(136, 136, 136) rgb(59, 58, 58) !important;
}

.hoverwell {
    background-color: #22262b;
}

.dark-background {
    background-color: rgb(58, 58, 59);
    color: rgb(220, 220, 220);
}

.pointable {
    cursor: pointer;
}

textarea,
textarea:hover,
textarea:focus {
    background-color: rgb(83, 83, 85);
    color: white;
    width: 100%;
    padding-left: 7px;
}

textarea::placeholder {
    color: white;
}

.scrollable-dark {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-right: 20px;
}

.scrollable-dark:hover,
.scrollable-dark:focus {
    overflow-y: scroll;
    padding-right: 3px;
}

.surrounding-scrollable-mg {
    margin-right: 20px !important;
}

.surrounding-scrollable-pd {
    padding-right: 20px !important;
}

::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar:hover {
    width: 17px;
    background-color: rgb(59, 58, 58);
    color: blue;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(61, 61, 61);
}

 ::-webkit-scrollbar-track {
    background: rgb(48, 46, 46);
}

.fixed-bottom {
    height: 50px;
    background-color: #443e3e;
    color: rgb(230, 230, 230);
    line-height: 50px;
    width: 100%;
}

@media (max-width: 767px) {
    .scrollable-dark {
        padding-right: 0px !important;
        margin-right: 0px !important;
        overflow-y: scroll;
    }
    .surrounding-scrollable-mg {
        margin-right: 0px !important;
    }
    .surrounding-scrollable-pd {
        padding-right: 0px !important;
    }
}
